<!-- login.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Immunetworks</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
    <script>
        // JavaScript to display error message popup
        window.onload = function() {
            var error = "{{ error }}";
            if (error) {
                var popup = document.getElementById("popup");
                popup.innerHTML = error;
                popup.style.display = "block";
            }
        };
    </script>
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        {% if error %}
        <div id="popup" class="popup"></div>
        {% endif %}
        <form action="/auth/login" method="post">
            <input type="text" id="username" name="username" placeholder="Username"><br>
            <input type="password" id="password" name="password" placeholder="Password"><br>
            <input type="submit" value="Login">
        </form>

        <p>Do not have an account? <a href="/auth/signup">Signup here</a>.</p>
    </div>
</body>
</html>